@model IEnumerable<Portfolio.Models.Project>

@{
    ViewBag.Title = "My Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Projects</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        // Create admin links
        @Html.ActionLink("Create New", "Create"); <text> | </text>
        @Html.ActionLink("Administer Projects", "Admin");
    }
</p>

<!-- Success/error message for project creation -->
<div class="text-success">@ViewBag.Message</div>

<!-- Render Each Project -->
@Html.Partial("_ProjectPartial")
